{% extends "layout.html" %}

{% block title %}Tweets{% endblock  %}

{% block content%}
<h1 class = "p-4 m-2">Welcome to the Tit Tweets</h1>
<h2>
    {% if form.instance.pk %}
    Edit Tweet 
    {% else %}
    Create Tweet
    {% endif %}
</h2>
<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-warning  my-2" type="submit">Submit</button>
</form>
<a href="{% url 'tweet_list'%}">Back to tweet list</a>
{% endblock  %}
